body{
    text-align: center;
    /* background: rgb(251,63,63); */
    background: radial-gradient(circle, rgb(184, 84, 84) 0%, rgba(0,0,0,1) 100%);
    color: white;
    font-size: x-large;
    font-family: Yatra One;
    /* font-family: 'Montserrat', sans-serif; */
}

#deg{
   float:left;
   width: 300px;
}

#opponent{
    float:right;
    width: 300px;
}

.gameInfo{
    width: 200px;
    font-family: Lacquer;
    font-size: 40px;
    color:rgb(65, 22, 22);
    
}

.wrapper{
    margin:100px auto;
    width: 1000px;
    height: 500px;
    text-align: center;
    display: flex;
  	justify-content: center;
}

.playerName {
    margin-bottom: 15px;
}

img {
    border-radius: 50%;
    border: 2px inset rgb(77, 2, 2);
    width: 200px;
  }

  h1{
      font-family: Nosifer;
      font-size: 60px;
      color: rgb(20, 3, 3);
      min-width: 1000px;
  }

  .hide{
      display: none;
  }

button{
    background-color: rgb(107, 107, 107);
    width: 80px;
    margin-left: 2px;
    font-family: Finger Paint;
    border-radius: 5px;
}

#blocked{
    color:rgb(116, 116, 116);
    font-size: 20px;
}

input{
    height: 20px;
    width: 230px;
    text-align: center;
    font-family: Finger Paint;
}

.NPCAttackInfo{
    margin-top: 72px;
}